<div ng-controller="searchResultsCtrl">
	<ion-view title="{{headline}}">
	    <ion-content>
	        <div class="row responsive-sm">
	            <div class="col">
	                <p class="intro-text">{{introtext}}</p>
	            </div>
	        </div>
	        <div class="row responsive-sm">
	            <div class="col">
	                <div class="list">
	                    <label class="item item-input">
	                        <input type="text" id="termino" ng-model="search.term" placeholder="{{placeholder}}" name="termino" required />
	                    </label>
	                </div>
	            </div>
	        </div>
	        <div class="row responsive-sm">
	            <div class="col">
	                <a href="#/search" ng-click="recibirTerminos(search.term);" class="button button-balanced button-block">{{button_text}}</a>
	            </div>
	        </div>
	     </ion-content>
	</ion-view>
</div>