
<ion-view title="{{headline}}">

	<ion-nav-buttons>
		<button ng-click="goBack()" class="button ion-chevron-left"> {{back}}</button>
	</ion-nav-buttons>

	<ion-content>

		<div class="row">
			<div class="col movieTitle">{{movieData.MovieTitle}}</div>
		</div>

		<div class="row">

			<div class="col movieInfo">
				<div>{{quality}}: <strong>{{movieData.Quality}}</strong></div>
				<div>{{language}}: <strong>{{movieData.Language}}</strong></div>
				<div>{{size}}: <strong>{{movieData.Size}}</strong></div>
			</div>

			<div class="col movieImage">
				<img src="{{movieData.LargeCover}}">
			</div>
		</div>

		<div class="row genres">
			<div class="col">
				<div class="movieGenre movieGenre1">{{movieData.Genre1}}</div>
			</div>
			<div class="col">
				<div class="movieGenre movieGenre2">{{movieData.Genre2}}</div>
			</div>
		</div>

		<div class="row">
			<div class="col movieDescription">{{movieData.LongDescription}}</div>
		</div>

		<div class="row">

			<div class="col">
				<h3 class="trailer">{{trailer}}</h3>
				<youtube-video video-id="theBestVideo"></youtube-video>
			</div>
		</div>

		<div class="row">
			<div class="col">
				<a href="javascript:void(0)" ng-click="openUrl()" class="button button-block button-balanced">{{download}}</a>
			</div>
		</div>

	</ion-content>
</ion-view>