
<ion-view title="{{search_headline}}">

<ion-nav-buttons>
    <button class="button ion-chevron-left" ng-click="goBack()"> {{back}}</button>
</ion-nav-buttons>

<ion-content class="give-margin-top">

    <div ng-controller="searchResultsCtrl">
        <div class="col responsive-sm" ng-show="errorData.error">
            <h3 class="error-msg">{{errorData.error}} :( </h3>
            <br>
            <button class="button button-block button-energized" ng-click="goBack()">{{error_message}}</button>
        </div>
    </div>

        <div class="box" ng-repeat="result in resultMovies">
            <div ng-controller="IndividualCtrl">
            <a href="#/individual" ng-click="recibirId(result.id);">
                <div class="box-image">
                    
                        <img ng-src="{{result.medium_cover_image}}" />
                    
                </div>

                <div class="box-content">
                    
                    	<p class="box-title">{{result.title_long}}</p>
                    
                    <p class="" ng-repeat="genre in result.genres">{{genre}}</p>
                    <p>Quality: {{result.runtime}}</p>
                    <p>Size: {{result.language}}</p>
                </div>
                </a>
            </div>

        </div>
</ion-content>
</ion-view>