
  <ion-view title="Resultados">

  <ion-nav-buttons>
      <a class="button ion-chevron-left" href="#/"> Volver</a>
    </ion-nav-buttons>

    <ion-content ng-controller="searchResultsCtrl">
      <ion-list>
        <ion-item ng-repeat="result in resultMovies">
          
          <div class="row" ng-controller="IndividualCtrl">
            <div class="col responsive-sm">
              <a href="#/individual" ng-click="recibirId(result.MovieID);">
                <div class="box-image">
                  <img ng-src="{{result.CoverImage}}" />
                </div>
              </a>
            </div>
            <div class="col responsive-sm">
              <a href="#/individual" ng-click="recibirId(result.MovieID);">
                <h3>{{result.MovieTitle}}</h3>
                <p>Genre: {{result.Genre}}</p>
                <p>Quality: {{result.Quality}}</p>
                <p>Size: {{result.Size}}</p>
                <p>Language: {{result.Language}}</p>
              </a>
            </div>
          </div>

        </ion-item>
      </ion-list>
    </ion-content>
  </ion-view>