
<ion-view title="{{search_headline}}">

<ion-nav-buttons>
    <button class="button ion-chevron-left" ng-click="goBack()"> {{back}}</button>
</ion-nav-buttons>

<ion-content>

    <div ng-controller="searchResultsCtrl">
        <div class="col responsive-sm" ng-show="errorData.error">
            <h3 class="error-msg">{{errorData.error}} :( </h3>
            <br>
            <button class="button button-block button-energized" ng-click="goBack()">¡Prueba otra vez!</button>
        </div>
    </div>

    <ion-list>
        <ion-item ng-repeat="result in resultMovies" class="bg">
            <div class="row responsive-sm card-content" ng-controller="IndividualCtrl">

                <div class="col">
                    <a href="#/individual" ng-click="recibirId(result.MovieID);">
                        <div class="box-image">
                            <img ng-src="{{result.CoverImage}}" />
                        </div>
                    </a>
                </div>

                <div class="col">
                    <section class="description">
                        <a href="#/individual" ng-click="recibirId(result.MovieID);">
                            <h3>{{result.MovieTitle}}</h3>
                            <p class="genero">#{{result.Genre}}</p>
                            <p>Quality: {{result.Quality}}</p>
                            <p>Size: {{result.Size}}</p>
                        </a>
                    </section>
                </div>

            </div>

        </ion-item>
    </ion-list>
</ion-content>
</ion-view>