.bg {
  background-color: #ccc !important;
}

.col a {
  text-decoration: none;
}
.description h3 {
  color: #737272;
  font-weight: bold;
  font-size: 14px;
}
.description .genero {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #009688;
  color: #ffffff;
  padding: .2em;
  margin: 0;
}
.card-content {
  position: relative;
  width: 100%;
  background-color: #ffffff;
}
.card-content:before {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  border-width: 0 20px 20px 0;
  border-style: solid;
  border-color: #9e9e9e #ccc;
}

/*---------------------------------------------------*/
.box {
  width: 100%;
}

.box .box-image {
  width: 10%;
  float: left;
}

.box .box-image img {
  width: 120px;
  height: 177px;
}

.box .box-content {
  width: 90%;
  float: right;
  padding-left: 15px;
}

.box .box-content h3 {
  color: #737272;
  font-weight: bold;
  font-size: 14pt;
}

@media (max-width: 420px) {
  .bg .col {

  }
}