@import url(http://fonts.googleapis.com/css?family=Lato);

body {
  font-family: 'Lato', sans-serif;
  font-size: 100%;
  color: #333;
}

h2{
	color: #333;
}

.intro-text{
	font-size: 1.2em;
	margin-top: 20px;
}

.error-msg{
	padding-top: 10px;
	padding-left: 10px;
}

.hide-show{
	display: none;
}

.trailer{
	margin-left: 30%;
}

.top-bar{
	background: #008cba;
}

iframe{
	width: 100%;
	height: 210%;
}

@media (min-width: 1200px){
	.movieTitle{
		font-size: 1.6em;
	}
}

/*PARA RESOLUCIONES DE MAXIMO  800PX*/
@media (max-width: 800px){

}

/*PARA RESOLUCIONES DE MAXIMO  720PX*/
@media (max-width: 720px){

}

/*PARA RESOLUCIONES DE MAXIMO 480PX*/
@media (min-width:320px) and (max-width: 480px){
	.movieTitle{
		font-size: 1.4em;
		padding-bottom: 10px;
		margin-top: 6px;
		font-weight: 600;
		line-height: 1.1em;
	}

	.movieInfo{
		font-size: 1.1em;
		line-height: 160%;
	}

	.movieGenre{
		background-color: #ccc;
		padding: 4px 0px 4px 6px;
		border-radius: 2px;
		border: 1px solid #333;
		color: #fff;
		width: 46%;
		margin-right: 3px;
		display: inline-block;
	}

	.movie-genre-color{
		background-color: #00A537;
	}

	.movieImage img{
		width: 100%;
		margin-bottom: 15px;
		border: 3px solid white;
		border-radius: 2px;
	}

	.movieDescription{
		font-size: 1em;
		line-height: 1.4em;
		margin-bottom: 15px;
	}
}

/*PARA RESOLUCIONES DE 320PX MAXIMO*/
@media (max-width:320px){

}

ion-content.with-white-bg{
	background-color: #fff;
	color: #fff;
}

.imdb-logo,
span{
	vertical-align: middle;
}

h3, h4{
	color: #fff;
	font-weight:800;
}

.background-overlay{
	position: absolute;
	height: 100%;
	left: 0;
	right: 0;
	z-index: -1;
	width: 100%;
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(29,29,29,0.5)),color-stop(100%,rgba(29,29,29,1)));
	background: -webkit-linear-gradient(top,rgba(29,29,29,0.65) 0,rgba(29,29,29,1) 100%);
	background: linear-gradient(to bottom,rgba(29,29,29,0.65) 0,rgba(29,29,29,1) 100%);
}

.cast-box{
	display: block;
	padding: 10px 0 
}

.cast-image{
	height: 50px;
	width: 50px;
	border-radius: 50px;
	vertical-align: middle;
}

span.cast-name{
	vertical-align: middle;
	margin-left: 8px;
}